
 

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>ShiftWiz</title>
  <link rel="stylesheet" type="text/css" href="/css/jass.css">
  <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>

<body>
  <header>
    <nav class="menu">
      <img src="/images/ShiftWizWIP.png" alt="Logo" class="logo">
      <ul>
        {{#if loggedIn}}

        <a href="/schedule">
          <button class="btn-no-style">Schedule</button>
        </a>
        <a href="/availability">
          <button class="btn-no-style">Availability</button>
        </a>
        <a href="/pto">
          <button class="btn-no-style">PTO</button>
        </a>
        <a href="/sick-calls">
          <button class="btn-no-style">Sick Call</button>
        </a>
        <a href="/profile">
          <button class="btn-no-style">Profile</button>
        </a>
        <a>
          <button id="logout" class="btn-no-style">Logout</button>
        </a>
        {{else}}
        <li><a href="/login">Login</a></li>
        {{/if}}
      </ul>
    </nav>
  </header>
  <main id="main-content">
    <div class="gallery">
      {{{body}}}
    </div>
  </main>
  {{#if loggedIn}}
  <script src="/js/logout.js"></script>
  <script src="https://cdn.tailwindcss.com"></script>
  {{/if}}
</body>