<section class="flex flex-col justify-center pt-20">
    <h1 class="text-center text-black text-3xl tracking-[4px] mt-2 font-bold">ADD AVIALABILITY</h1>
    <fieldSet class="border border-black flex m-10 rounded-lg p-4 justify-around">

        <legend class="text-black font-semibold text-xl">Monday</legend>
        <div class="flex flex-col m-2 ml-6 rounded-xl gap-4 p-4 bg-slate-100">

            <label for="mondayStartTime" class="text-black">Start Time</label>
            <input class="text-black" type="time" name="mondayStartTime" id="mondayStartTime" placeholder="start time">
        </div>
        <div class="flex flex-col m-2 ml-6 rounded-xl gap-4 p-4 bg-slate-100">
            <p class="text-black">End time</p>
            <input class="text-black" type="time" name="mondayEndtime" id="mondayEndTime" placeholder="end time">
        </div>
    </fieldSet>
    <fieldSet class="border border-black flex m-10 rounded-lg p-4 justify-around">

        <legend class="text-black font-semibold text-xl">Tuesday</legend>
        <div class="flex flex-col m-2 ml-6 rounded-xl gap-4 p-4 bg-slate-100">

            <label for="tuesdayStartTime" class="text-black">Start Time</label>
            <input class="text-black" type="time" name="tuesdayStartTime" id="tuesdayStartTime"
                placeholder="start time">
        </div>
        <div class="flex flex-col m-2 ml-6 rounded-xl gap-4 p-4 bg-slate-100">
            <p class="text-black">End time</p>
            <input class="text-black" type="time" name="tuesdayEndtime" id="tuesdayEndTime" placeholder="end time">
        </div>
    </fieldSet>
    <fieldSet class="border border-black flex m-10 rounded-lg p-4 justify-around">

        <legend class="text-black font-semibold text-xl">Wednesday</legend>
        <div class="flex flex-col m-2 ml-6 rounded-xl gap-4 p-4 bg-slate-100">

            <label for="wednesdayStartTime" class="text-black">Start Time</label>
            <input class="text-black" type="time" name="wednesdayStartTime" id="wednesdayStartTime"
                placeholder="start time">
        </div>
        <div class="flex flex-col m-2 ml-6 rounded-xl gap-4 p-4 bg-slate-100">
            <p class="text-black">End time</p>
            <input class="text-black" type="time" name="wednesdayEndtime" id="wednesdayEndTime" placeholder="end time">
        </div>
    </fieldSet>
    <fieldSet class="border border-black flex m-10 rounded-lg p-4 justify-around">

        <legend class="text-black font-semibold text-xl">Thursday</legend>
        <div class="flex flex-col m-2 ml-6 rounded-xl gap-4 p-4 bg-slate-100">

            <label for="thursdayStartTime" class="text-black">Start Time</label>
            <input class="text-black" type="time" name="thursdayStartTime" id="thursdayStartTime"
                placeholder="start time">
        </div>
        <div class="flex flex-col m-2 ml-6 rounded-xl gap-4 p-4 bg-slate-100">
            <p class="text-black">End time</p>
            <input class="text-black" type="time" name="thursdayEndtime" id="thursdayEndTime" placeholder="end time">
            thursday
    </fieldSet>
    <fieldSet class="border border-black flex m-10 rounded-lg p-4 justify-around">

        <legend class="text-black font-semibold text-xl">Friday</legend>
        <div class="flex flex-col m-2 ml-6 rounded-xl gap-4 p-4 bg-slate-100">

            <label for="fridayStartTime" class="text-black">Start Time</label>
            <input class="text-black" type="time" name="fridayStartTime" id="fridayStartTime" placeholder="start time">
        </div>
        <div class="flex flex-col m-2 ml-6 rounded-xl gap-4 p-4 bg-slate-100">
            <p class="text-black">End time</p>
            <input class="text-black" type="time" name="fridayEndtime" id="fridayEndTime" placeholder="end time">
        </div>
    </fieldSet>
    <fieldSet class="border border-black flex m-10 rounded-lg p-4 justify-around">

        <legend class="text-black font-semibold text-xl">Saturday</legend>
        <div class="flex flex-col m-2 ml-6 rounded-xl gap-4 p-4 bg-slate-100">

            <label for="saturdayStartTime" class="text-black">Start Time</label>
            <input class="text-black" type="time" name="saturdayStartTime" id="saturdayStartTime"
                placeholder="start time">
        </div>
        <div class="flex flex-col m-2 ml-6 rounded-xl gap-4 p-4 bg-slate-100">
            <p class="text-black">End time</p>
            <input class="text-black" type="time" name="saturdayEndtime" id="saturdayEndTime" placeholder="end time">
        </div>
    </fieldSet>
    <fieldSet class="border border-black flex m-10 rounded-lg p-4 justify-around">

        <legend class="text-black font-semibold text-xl">Sunday</legend>
        <div class="flex flex-col m-2 ml-6 rounded-xl gap-4 p-4 bg-slate-100">

            <label for="sundayStartTime" class="text-black">Start Time</label>
            <input class="text-black" type="time" name="sundayStartTime" id="sundayStartTime" placeholder="start time">
        </div>
        <div class="flex flex-col m-2 ml-6 rounded-xl gap-4 p-4 bg-slate-100">
            <p class="text-black">End time</p>
            <input class="text-black" type="time" name="sundayEndtime" id="sundayEndTime" placeholder="end time">
        </div>
    </fieldSet>

    <button class="bg-black mx-16  mb-4 p-2 rounded-xl px-6 hover:cursor-pointer hover:bg-blue-500">Save</button>
</section>