<div class="login-div">
    <div class="login-card">
        <div class="login-logo">
            <img src="/images/ShiftWizWIP.png" alt="icon of wizard wearing a hat">
        </div>
        <div class="login-title">Login</div>
        <div class="login-sub-title">Master your schedule!</div>
        <form class="login-form">
            <div class="form-group">
                <input class="form-input" type="text" id="email-login" placeholder="Email" />
            </div>
            <div class="form-group">
                <input class="form-input" type="password" id="password-login" placeholder="Password" />
            </div>
            <div class="form-group">
                <button class="login-button" type="submit">Login</button>
                <button class="signup-button" onclick="window.location.href = '/signup'">Sign Up</button>
            </div>
        </form>
    </div>


    <script src="./js/login.js"></script>