<section class="flex flex-col justify-center mx-10 pt-20">
    <h1 class="text-center text-black text-3xl tracking-[4px] mt-2 font-bold">Paid Time Off</h1>
    <form class="pto-form">
        <div class="flex flex-col mt-10">
            <label for="ptoStartDate" class="text-black">Select the Start Date</label>
            <!-- need to adjust the format for the future date -->
            <input type="date" class="w-[10rem] text-black bg-slate-200 p-2 px-4 rounded-xl" id="pto-start-date">
        </div>
         <div class="flex flex-col mt-10">
            <label for="ptoEndDate" class="text-black">Select the End Date</label>
            <!-- need to adjust the format for the future date -->
            <input type="date" class="w-[10rem] text-black bg-slate-200 p-2 px-4 rounded-xl" id="pto-end-date">
        </div>
        <button class="bg-black mx-16  mb-4 p-2 rounded-xl mt-8 px-6 hover:cursor-pointer hover:bg-blue-500"
            id="save-pto" type="submit">Save</button>
    </form>


</section>

<script src="/js/pto.js"></script>
