<section class="flex flex-col justify-center mx-10 pt-20">
    <h1 class="text-center text-black text-3xl tracking-[4px] mt-2 font-bold">Paid Time Off</h1>
    <div class="flex flex-col mt-10">
        <label for="ptoDate" class="text-black">Select the Date</label>
        <!-- need to adjust the format for the future date -->
        <input type="date" class="w-[10rem] text-black bg-slate-200 p-2 px-4 rounded-xl">
    </div>
    <div class="flex flex-col mt-10">
        <label for="ptoReason" class="text-black">Reason</label>
        <textarea name="ptoReason" id="ptoReason" cols="30" rows="10"
            class="bg-slate-200 text-black rounded-xl p-2 transition-[0.5s_ease-in-out] outline-none focus:border-[1px] focus:border-black"
            placeholder="Enter your reason for the paid time off"></textarea>
    </div>
    <button class="bg-black mx-16  mb-4 p-2 rounded-xl mt-8 px-6 hover:cursor-pointer hover:bg-blue-500">Save</button>

</section>
