<section class="flex flex-col justify-center mx-10 max-[425px]:mx-1 pt-20 max-[425px]:pt-2">
    <h1 class="text-center text-black text-3xl tracking-[4px] mt-2 font-bold">Sick Call Request</h1>
    <form class="sick-call-form">
        <div class="bg-white rounded-lg flex mt-4 flex-col justify-center p-8 shadow-[0px_4px_16px_rgba(17,17,26,0.1),_0px_8px_24px_rgba(17,17,26,0.1),_0px_16px_56px_rgba(17,17,26,0.1)]">

        <div class="flex flex-col">
            <label for="sickCallDate" class="text-black">Select the Date</label>
            <!-- need to adjust the format for the future date -->
            {{!-- added id for date input --}}
            <input type="date" class="w-[20rem] text-black bg-slate-200 p-2 px-4 rounded-xl" id="sickCallDate">
        </div>
        <div class="flex flex-col mt-10">
            <label for="sickCallReason" class="text-black">Reason</label>
            {{!-- added id for reason input --}}
            <textarea name="sickCallReason" id="sickCallReason" cols="30" rows="10"
                class="bg-slate-200 text-black rounded-xl p-2 transition-[0.5s_ease-in-out] outline-none focus:border-[1px] focus:border-black"
                placeholder="Enter your reason for the sick call request" type="text"></textarea>
        </div>
        {{!-- added id for save button --}}
        <button class="bg-black mx-16 hover:text-green-500 mb-4 p-2 rounded-xl mt-8 px-6 hover:cursor-pointer hover:bg-blue-500"
            id="save-sick-call" type="submit">Save</button>
        </div>
    </form>

</section>

{{!--sick modal div --}}
<div id="sick-modal" class="modal">
  <div class="modal-content">
    <span class="close" id="sick-modal-close">&times;</span>
    <p>Your sick request has been submitted!</p>
  </div>
</div>
{{!-- input empty modal --}}
<div id="empty-modal" class="modal">
  <div class="modal-content">
    <span class="close" id="empty-modal-close">&times;</span>
    <p>Please fill in all inputs</p>
  </div>
</div>
<script src="/js/sickcall.js"></script>